.subImage{
  width: 270px;
  height: 197px;
  margin-left: 18px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mainimage{
    width: 400px;
    height: 400px;
}
