.ratingmain{
    display: flex;
}
.pc{
    color: gray;
}
.ratingdiv{
    width: 60px;
    height: 45px;
    border:1px solid black;
    border-radius: 4px;
}
.ratingdiv:hover{
    background-color: black;
    color: white;
}