.main{
    margin: 20px 20px;
    box-shadow: 2px 2px 4px  black;
   
    font-family: 'Times New Roman', Times, serif;
}
.imgs{
    width: 310px;
    height: 150px;
}
.rs{
    font-weight: bold;
}
.imUp{
    display:  table-caption;
}
.main:hover{
    box-shadow: 4px 4px 15px 2px black;
}