.heading-1{
 color: rgb(255, 173, 20);
}
*{
     font-family: 'Times New Roman', Times, serif;
     margin-bottom: 5px;
}
.heading{
  background-color: rgba(255, 255, 255, 0.644);
  color: black;
  display: flex;
  justify-content: space-between;
}
.form-option{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px rgba(0, 0, 0, 0.178) solid;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  cursor: pointer;
    
}
.gap{
    padding: 2px;
}
.ser{
    background-color: rgb(255, 173, 20);
    width: 40px;
    height: 50px;
    border-radius: 7px;
    border: 2px rgba(0, 0, 0, 0.178) solid;
    cursor: pointer;
}
.main1{
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  flex-wrap: wrap;
  border: 1px rgba(0, 0, 0, 0.103) solid;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.13);
}